
/* #app {
  position: relative;
  background: var(--background); 
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
} */ 

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
  button {
    align-self: center;
    justify-self: center;
    margin: 2rem;

  }

  input {
    align-self: center;
    justify-self: center;
    margin: 2rem;
      all: unset;
      width: 17rem;
      padding: 0.3rem;
      background-color: var(--third);
      text-align: center;
      font-size: 1rem;
      color: var(--secondary);
      font-weight: 600;
      border-radius: 0.75rem;
  
    }



.statePicName {
    box-sizing: border-box;
    min-width: 15rem;
    width: 100%;
    margin: 2rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.eachcard {
    box-sizing: border-box;
    height: 27rem;
    width: 26rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;

}

/* .eachcard > img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    display: flex;
  
} */


.eachcard h2 {
    color: var(--primary); 
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
  }



