
.nav {
    display: flex;
    justify-content: center;
    width: 100vw;
}

button {
    display: flex;
    justify-content: center;
   }


.animalcard {
    margin: 2% 7%;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-content: top;
    align-items: top;
    justify-content: center;
}

.animalcard > img {
    width: 35rem;
    height: 30rem;
    object-fit: cover;
    place-content: top;
}

.animalcard > .description {
    width: 35rem;
    color: var(--primary)
}

.description > h2 {
    margin: 1rem;
    color: var(--secondary) 
}

.description > p {
    margin: 1rem;
}

.question .answer {
    margin-left: 1rem;
    color: brown;
}  

.definition {
    margin: 2rem;
}